.icon {
	position: absolute;
	margin-top: 14px;
	margin-left: 25px;
	color: #b8b8b8;
}

.input {
	border-radius: 20px;
	height: 50px;
	width: 100%;
	padding-left: 70px;
	border-color: transparent;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input:focus {
	outline: none;
	border: 2px solid #0d6efd;
}